In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [55]:
with open('fts_data.csv') as f:
    print(f)

<_io.TextIOWrapper name='fts_data.csv' mode='r' encoding='UTF-8'>

In [56]:
df = pd.read_csv('fts_data.csv', encoding='utf-8', engine='python', decimal=',')
df.head()

,Страна,Регион РЭЦ,Регионы (РЭЦ) и Союзы,ТН ВЭД 10,Москва 2015 $,Москва 2016 $,Москва 2017 $,Москва 2018 $,Москва 2019 $,Москва 2020 $,...,Расшифровка ТН10,Расшифровка ТН6,Расшифровка ТН4,Расшифровка ТН2,Товар и код ТН ВЭД (10 знаков),Товар и код ТН ВЭД (6 знаков),Товар и код ТН ВЭД (4 знака),Товар (2 знака),Нацпроект 2021 v1,Отрасль 2021 v1
0,AB-АБХАЗИЯ,СНГ,Другие,0101299000,NaN,NaN,NaN,NaN,NaN,NaN,...,Прочие лошади живые: прочие,Лошади обычные,"Лошади, ослы и их помеси",Живые животные,0101299000-Прочие лошади живые: прочие,010129-Лошади обычные,"0101-Лошади, ослы и их помеси",01-Живые животные,АПК,Продукция сельского хозяйства
1,AB-АБХАЗИЯ,СНГ,Другие,0102211000,NaN,NaN,NaN,NaN,NaN,NaN,...,"Домашний крупный рогатый скот живой, чистопоро...",Чистопородный племенной крупный рогатый скот,Крупный рогатый скот живой,Живые животные,0102211000-Домашний крупный рогатый скот живой...,010221-Чистопородный племенной крупный рогатый...,0102-Крупный рогатый скот живой,01-Живые животные,АПК,Продукция сельского хозяйства
2,AB-АБХАЗИЯ,СНГ,Другие,0104108000,NaN,NaN,NaN,NaN,NaN,NaN,...,Прочие овцы живые,Овцы,Овцы и козы,Живые животные,0104108000-Прочие овцы живые,010410-Овцы,0104-Овцы и козы,01-Живые животные,АПК,Продукция сельского хозяйства
3,AB-АБХАЗИЯ,СНГ,Другие,0104209000,NaN,NaN,NaN,NaN,NaN,NaN,...,Прочие козы живые,Козы,Овцы и козы,Живые животные,0104209000-Прочие козы живые,010420-Козы,0104-Овцы и козы,01-Живые животные,АПК,Продукция сельского хозяйства
4,AB-АБХАЗИЯ,СНГ,Другие,0105111900,NaN,NaN,NaN,NaN,NaN,NaN,...,Прочие цыплята племенного разведения [прародит...,Куры до 185 г,"Домашняя птица живая, то есть куры домашние (g...",Живые животные,0105111900-Прочие цыплята племенного разведени...,010511-Куры до 185 г,"0105-Домашняя птица живая, то есть куры домашн...",01-Живые животные,АПК,Продукция сельского хозяйства

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291947 entries, 0 to 291946
Data columns (total 24 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Страна                          291947 non-null  object
 1   Регион РЭЦ                      291942 non-null  object
 2   Регионы (РЭЦ) и Союзы           291942 non-null  object
 3   ТН ВЭД 10                       291947 non-null  object
 4    Москва 2015 $                  55706 non-null   float64
 5    Москва 2016 $                  61333 non-null   float64
 6    Москва 2017 $                  64535 non-null   float64
 7    Москва 2018 $                  68572 non-null   float64
 8    Москва 2019 $                  71214 non-null   float64
 9    Москва 2020 $                  67396 non-null   float64
 10   Москва 2021 $                  78220 non-null   object
 11  ТНВЭД 6                         291947 non-null  object
 12  ТНВЭД 4                         291947 non-null  object
 13  ТНВЭД 2                         291947 non-null  object
 14  Расшифровка ТН10                291947 non-null  object
 15  Расшифровка ТН6                 291947 non-null  object
 16  Расшифровка ТН4                 291947 non-null  object
 17  Расшифровка ТН2                 291947 non-null  object
 18  Товар и код ТН ВЭД (10 знаков)  291947 non-null  object
 19  Товар и код ТН ВЭД (6 знаков)   291947 non-null  object
 20  Товар и код ТН ВЭД (4 знака)    291947 non-null  object
 21  Товар (2 знака)                 291947 non-null  object
 22  Нацпроект 2021 v1               291947 non-null  object
 23  Отрасль 2021 v1                 291947 non-null  object
dtypes: float64(6), object(18)
memory usage: 53.5+ MB

In [57]:
df[' Москва 2021 $'] = df[' Москва 2021 $'].apply(lambda x: str(x).replace('\xa0','').replace(',','.').replace('-','0'))
df[' Москва 2021 $'] = df[' Москва 2021 $'].astype(float)

In [58]:
df.fillna(0, inplace=True)

In [59]:
df['Страна'] = df['Страна'].apply(lambda x: str(x).replace('(','').replace(')','')) #есть, например, FM-МИКРОНЕЗИЯ, ФЕДЕРАТИВНЫЕ ШТАТЫ и FM-МИКРОНЕЗИЯ, (ФЕДЕРАТИВНЫЕ ШТАТЫ)

In [60]:
unfriendly_countries_list = ['AU-АВСТРАЛИЯ', 'AL-АЛБАНИЯ','AD-АНДОРРА','BS-БАГАМЫ','GB-СОЕДИНЕННОЕ КОРОЛЕВСТВО','IS-ИСЛАНДИЯ','CA-КАНАДА','LI-ЛИХТЕНШТЕЙН','FM-МИКРОНЕЗИЯ','MC-МОНАКО','NZ-НОВАЯ ЗЕЛАНДИЯ','NO-НОРВЕГИЯ','KR-КОРЕЯ, РЕСПУБЛИКА','SM-САН-МАРИНО','MK-РЕСПУБЛИКА МАКЕДОНИЯ','SG-СИНГАПУР','US-СОЕДИНЕННЫЕ ШТАТЫ','TW-ТАЙВАНЬ (КИТАЙ)','UA-УКРАИНА','ME-ЧЕРНОГОРИЯ','CH-ШВЕЙЦАРИЯ','JP-ЯПОНИЯ','JE-ДЖЕРСИ','GG-ГЕРНСИ','IM-ОСТРОВ МЭН','AI-АНГИЛЬЯ','VG-ВИРГИНСКИЕ ОСТРОВА (БРИТАНСКИЕ)','GI-ГИБРАЛТАР','AT-АВСТРИЯ','BE-БЕЛЬГИЯ','BG-БОЛГАРИЯ','HU-ВЕНГРИЯ','DE-ГЕРМАНИЯ','GR-ГРЕЦИЯ','DK-ДАНИЯ','IE-ИРЛАНДИЯ','ES-ИСПАНИЯ','IT-ИТАЛИЯ','CY-КИПР','LV-ЛАТВИЯ','LT-ЛИТВА','LU-ЛЮКСЕМБУРГ','MT-МАЛЬТА','NL-НИДЕРЛАНДЫ','PL-ПОЛЬША','PT-ПОРТУГАЛИЯ','RO-РУМЫНИЯ','SK-СЛОВАКИЯ','SI-СЛОВЕНИЯ','FI-ФИНЛЯНДИЯ','FR-ФРАНЦИЯ','HR-ХОРВАТИЯ','CZ-ЧЕХИЯ','SE-ШВЕЦИЯ','EE-ЭСТОНИЯ','VI-ВИРГИНСКИЕ ОСТРОВА США']

In [70]:
grain_2  = df[df['ТНВЭД 2']=='10']
grain_2.drop(columns = ['Регион РЭЦ', 'Регионы (РЭЦ) и Союзы', 'Расшифровка ТН2', 'Товар (2 знака)', 'Нацпроект 2021 v1', 'Отрасль 2021 v1'], axis=1, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [73]:
print(f"Товар (4 знака) уникальные значения: {len(grain_2['Расшифровка ТН4'].unique())}")

Товар (4 знака) уникальные значения: 9

In [74]:
grain_2['Расшифровка ТН4'].unique()

array(['Пшеница', 'Овес', 'Кукуруза', 'Рис', 'Прочие зерновые', 'Ячмень',
       'Сорго', 'Рожь', '10-NNN-неизвестный товар'], dtype=object)

In [76]:
grain_2 = grain_2[grain_2['Расшифровка ТН4']!='10-NNN-неизвестный товар']

In [120]:
grain_10 = grain_2[['Страна', ' Москва 2015 $', ' Москва 2016 $',
       ' Москва 2017 $', ' Москва 2018 $', ' Москва 2019 $', ' Москва 2020 $',
       ' Москва 2021 $','Товар и код ТН ВЭД (10 знаков)']]

In [84]:
len(grain_10['Товар и код ТН ВЭД (10 знаков)'].unique())

70

In [85]:
ved_list = grain_10['Товар и код ТН ВЭД (10 знаков)'].unique()

In [89]:
grain_10.drop_duplicates(inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [101]:
best_exp_grain = pd.DataFrame(columns=['tn_ved', 'period', '1_country', '1_country_sum', '1_country_weight', '2_country', '2_country_sum', '2_country_weight', '3_country', '3_country_sum', '3_country_weight'])

In [102]:
period_list = [' Москва 2015 $', ' Москва 2016 $', ' Москва 2017 $',
       ' Москва 2018 $', ' Москва 2019 $', ' Москва 2020 $', ' Москва 2021 $']

for ved in ved_list:
  for period in period_list:
    new_representation = grain_10[['Страна', 'Товар и код ТН ВЭД (10 знаков)',period]][grain_10['Товар и код ТН ВЭД (10 знаков)']==ved].groupby('Страна').sum().round(2).sort_values(by=period,ascending=False)[:3]
    total_sum = grain_10[['Страна', 'Товар и код ТН ВЭД (10 знаков)',period]][grain_10['Товар и код ТН ВЭД (10 знаков)']==ved].groupby('Страна').sum().sum()[period].round(2)
    if len(new_representation) == 3:
      best_exp_grain.loc[ len(best_exp_grain.index )] = [ved, period.split(' ')[2], new_representation.index[0], new_representation[period][0], round(new_representation[period][0]/total_sum, 2), new_representation.index[1], new_representation[period][1], round(new_representation[period][1]/total_sum,2), new_representation.index[2], new_representation[period][2], round(new_representation[period][2]/total_sum,2)]
    elif len(new_representation) == 2:
      best_exp_grain.loc[ len(best_exp_grain.index )] = [ved, period.split(' ')[2], new_representation.index[0], new_representation[period][0], round(new_representation[period][0]/total_sum, 2), new_representation.index[1], new_representation[period][1], round(new_representation[period][1]/total_sum,2), 0, 0, 0]
    else:
      best_exp_grain.loc[ len(best_exp_grain.index )] = [ved, period.split(' ')[2], new_representation.index[0], new_representation[period][0], round(new_representation[period][0]/total_sum, 2), 0, 0, 0, 0, 0, 0]

<ipython-input-102-cb4998adb801>:9: RuntimeWarning: invalid value encountered in double_scalars
  best_exp_grain.loc[ len(best_exp_grain.index )] = [ved, period.split(' ')[2], new_representation.index[0], new_representation[period][0], round(new_representation[period][0]/total_sum, 2), new_representation.index[1], new_representation[period][1], round(new_representation[period][1]/total_sum,2), new_representation.index[2], new_representation[period][2], round(new_representation[period][2]/total_sum,2)]
<ipython-input-102-cb4998adb801>:13: RuntimeWarning: invalid value encountered in double_scalars
  best_exp_grain.loc[ len(best_exp_grain.index )] = [ved, period.split(' ')[2], new_representation.index[0], new_representation[period][0], round(new_representation[period][0]/total_sum, 2), 0, 0, 0, 0, 0, 0]

In [103]:
best_exp_grain

,tn_ved,period,1_country,1_country_sum,1_country_weight,2_country,2_country_sum,2_country_weight,3_country,3_country_sum,3_country_weight
0,1001990000-Прочие пшеница и меслин,2015,EG-ЕГИПЕТ,329188611.5,0.25,TR-ТУРЦИЯ,140665157.6,0.11,NG-НИГЕРИЯ,9.893406e+07,0.08
1,1001990000-Прочие пшеница и меслин,2016,EG-ЕГИПЕТ,247454485.1,0.21,NG-НИГЕРИЯ,119246676.0,0.10,TR-ТУРЦИЯ,8.059103e+07,0.07
2,1001990000-Прочие пшеница и меслин,2017,EG-ЕГИПЕТ,348618250.2,0.22,SD-СУДАН,161505094.0,0.10,NG-НИГЕРИЯ,1.224370e+08,0.08
3,1001990000-Прочие пшеница и меслин,2018,SD-СУДАН,215688306.1,0.12,EG-ЕГИПЕТ,203847710.0,0.11,TR-ТУРЦИЯ,1.541809e+08,0.09
4,1001990000-Прочие пшеница и меслин,2019,TR-ТУРЦИЯ,256704984.0,0.22,EG-ЕГИПЕТ,149370926.2,0.13,NG-НИГЕРИЯ,6.626485e+07,0.06
...,...,...,...,...,...,...,...,...,...,...,...
485,"1006302700-Полуобрушенный рис, длиннозерный с ...",2017,KZ-КАЗАХСТАН,0.0,NaN,OS-ЮЖНАЯ ОСЕТИЯ,0.0,NaN,UA-УКРАИНА,0.000000e+00,NaN
486,"1006302700-Полуобрушенный рис, длиннозерный с ...",2018,KZ-КАЗАХСТАН,0.0,NaN,OS-ЮЖНАЯ ОСЕТИЯ,0.0,NaN,UA-УКРАИНА,0.000000e+00,NaN
487,"1006302700-Полуобрушенный рис, длиннозерный с ...",2019,KZ-КАЗАХСТАН,0.0,NaN,OS-ЮЖНАЯ ОСЕТИЯ,0.0,NaN,UA-УКРАИНА,0.000000e+00,NaN
488,"1006302700-Полуобрушенный рис, длиннозерный с ...",2020,KZ-КАЗАХСТАН,0.0,NaN,OS-ЮЖНАЯ ОСЕТИЯ,0.0,NaN,UA-УКРАИНА,0.000000e+00,NaN
489,"1006302700-Полуобрушенный рис, длиннозерный с ...",2021,KZ-КАЗАХСТАН,0.0,NaN,OS-ЮЖНАЯ ОСЕТИЯ,0.0,NaN,UA-УКРАИНА,0.000000e+00,NaN

In [104]:
#best_exp_grain.to_csv('/content/best_grain.csv', index=False)

In [108]:
last_year = best_exp_grain[best_exp_grain['period']== '2021']
last_year.head()

,tn_ved,period,1_country,1_country_sum,1_country_weight,2_country,2_country_sum,2_country_weight,3_country,3_country_sum,3_country_weight
6,1001990000-Прочие пшеница и меслин,2021,TR-ТУРЦИЯ,2.441491e+08,0.25,EG-ЕГИПЕТ,1.891165e+08,0.20,SA-САУДОВСКАЯ АРАВИЯ,1.102651e+08,0.11
13,1004900000-Овес прочий,2021,CN-КИТАЙ,1.979280e+06,0.83,PK-ПАКИСТАН,3.924819e+05,0.17,KZ-КАЗАХСТАН,5.760100e+02,0.00
20,1005900000-Кукуруза прочая,2021,"KR-КОРЕЯ, РЕСПУБЛИКА",8.698216e+07,0.47,TR-ТУРЦИЯ,8.200749e+07,0.44,JP-ЯПОНИЯ,3.886460e+06,0.02
27,1006201100-Шелушеный рис (неполированный) коро...,2021,PA-ПАНАМА,2.803000e+01,0.56,KZ-КАЗАХСТАН,2.199000e+01,0.44,AB-АБХАЗИЯ,0.000000e+00,0.00
34,1006201500-Шелушеный рис (неполированный) проп...,2021,KZ-КАЗАХСТАН,2.011600e+02,0.94,BY-БЕЛАРУСЬ,1.354000e+01,0.06,AB-АБХАЗИЯ,0.000000e+00,0.00

In [109]:
last_year.insert(5,'friendly_1', 1)
last_year.insert(9,'friendly_2', 1)
last_year.insert(13,'friendly_3', 1)

In [110]:
last_year['friendly_1'].mask(last_year['1_country'].isin(unfriendly_countries_list), other=0, inplace=True)
last_year['friendly_2'].mask(last_year['2_country'].isin(unfriendly_countries_list), other=0, inplace=True)
last_year['friendly_3'].mask(last_year['3_country'].isin(unfriendly_countries_list), other=0, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [112]:
last_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70 entries, 6 to 489
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tn_ved            70 non-null     object
 1   period            70 non-null     object
 2   1_country         70 non-null     object
 3   1_country_sum     70 non-null     float64
 4   1_country_weight  43 non-null     float64
 5   friendly_1        70 non-null     int64
 6   2_country         70 non-null     object
 7   2_country_sum     70 non-null     float64
 8   2_country_weight  46 non-null     float64
 9   friendly_2        70 non-null     int64
 10  3_country         70 non-null     object
 11  3_country_sum     70 non-null     float64
 12  3_country_weight  46 non-null     float64
 13  friendly_3        70 non-null     int64
dtypes: float64(6), int64(3), object(5)
memory usage: 8.2+ KB

In [113]:
last_year.insert(14,'exp_sum', 0)
last_year.insert(15,'exp_weight', 0)
last_year.insert(16,'minus_exp_sum', 0)
last_year.insert(17,'minus_exp_weight', 0)

In [115]:
for i in range (len(last_year.index)):
  exp_sum = last_year['1_country_sum'].iloc[i] + last_year['2_country_sum'].iloc[i] + last_year['3_country_sum'].iloc[i]
  last_year['exp_sum'].iloc[i] = exp_sum

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj._check_is_chained_assignment_possible()

In [116]:
for i in range (len(last_year.index)):
  exp_sum = last_year['1_country_sum'].iloc[i] + last_year['2_country_sum'].iloc[i] + last_year['3_country_sum'].iloc[i]
  sum_frendly = last_year['1_country_sum'].iloc[i]*last_year['friendly_1'].iloc[i] + last_year['2_country_sum'].iloc[i]*last_year['friendly_2'].iloc[i] + last_year['3_country_sum'].iloc[i]*last_year['friendly_3'].iloc[i]
  last_year['minus_exp_sum'].iloc[i] = exp_sum - sum_frendly

In [117]:
for i in range (len(last_year.index)):
  exp_weight = last_year['1_country_weight'].iloc[i] + last_year['2_country_weight'].iloc[i] + last_year['3_country_weight'].iloc[i]
  last_year['exp_weight'].iloc[i] = exp_weight

In [118]:
for i in range (len(last_year.index)):
  exp_weight = last_year['1_country_weight'].iloc[i] + last_year['2_country_weight'].iloc[i] + last_year['3_country_weight'].iloc[i]
  weight_frendly = last_year['1_country_weight'].iloc[i]*last_year['friendly_1'].iloc[i] + last_year['2_country_weight'].iloc[i]*last_year['friendly_2'].iloc[i] + last_year['3_country_weight'].iloc[i]*last_year['friendly_3'].iloc[i]
  last_year['minus_exp_weight'].iloc[i] = exp_weight - weight_frendly

In [53]:
minus_exp_grain = last_year[['tn_ved','exp_sum', 'exp_weight', 'minus_exp_sum', 'minus_exp_weight']]
minus_exp_grain.to_csv('/content/minus_exp_grain.csv', index=False)

In [119]:
minus_exp.sort_values(by='minus_exp_weight', ascending=False)

,tn_ved,exp_sum,exp_weight,minus_exp_sum,minus_exp_weight
650,"26-Руды, шлак и зола",2.800149e+08,0.99,2.582372e+08,0.91
475,"71-Жемчуг природный или культивированный, драг...",1.638509e+10,0.83,1.638509e+10,0.83
538,81-Прочие недрагоценные металлы; металлокерами...,9.970733e+06,0.80,9.970733e+06,0.80
195,29-Органические химические соединения,3.822310e+08,0.82,2.858011e+08,0.61
503,75-Никель и изделия из него,1.753460e+07,0.84,1.254756e+07,0.60
...,...,...,...,...,...
489,73-Изделия из черных металлов,4.360151e+08,0.72,0.000000e+00,0.00
377,57-Ковры и прочие текстильные напольные покрытия,1.740253e+06,0.85,0.000000e+00,0.00
398,60-Трикотажные полотна машинного или ручного в...,5.055986e+06,0.98,0.000000e+00,0.00
216,32-Экстракты дубильные или красильные; таннины...,9.296732e+07,0.68,0.000000e+00,0.00
244,36-Взрывчатые вещества; пиротехнические издели...,0.000000e+00,NaN,0.000000e+00,NaN