In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
with open('fts_data.csv') as f:
    print(f)

<_io.TextIOWrapper name='fts_data.csv' mode='r' encoding='cp1251'>

In [3]:
df = pd.read_csv('fts_data.csv', encoding='utf-8', engine='python', decimal=',')
df.head()

,Страна,Регион РЭЦ,Регионы (РЭЦ) и Союзы,ТН ВЭД 10,Москва 2015 $,Москва 2016 $,Москва 2017 $,Москва 2018 $,Москва 2019 $,Москва 2020 $,...,Расшифровка ТН10,Расшифровка ТН6,Расшифровка ТН4,Расшифровка ТН2,Товар и код ТН ВЭД (10 знаков),Товар и код ТН ВЭД (6 знаков),Товар и код ТН ВЭД (4 знака),Товар (2 знака),Нацпроект 2021 v1,Отрасль 2021 v1
0,AB-АБХАЗИЯ,СНГ,Другие,0101299000,NaN,NaN,NaN,NaN,NaN,NaN,...,Прочие лошади живые: прочие,Лошади обычные,"Лошади, ослы и их помеси",Живые животные,0101299000-Прочие лошади живые: прочие,010129-Лошади обычные,"0101-Лошади, ослы и их помеси",01-Живые животные,АПК,Продукция сельского хозяйства
1,AB-АБХАЗИЯ,СНГ,Другие,0102211000,NaN,NaN,NaN,NaN,NaN,NaN,...,"Домашний крупный рогатый скот живой, чистопоро...",Чистопородный племенной крупный рогатый скот,Крупный рогатый скот живой,Живые животные,0102211000-Домашний крупный рогатый скот живой...,010221-Чистопородный племенной крупный рогатый...,0102-Крупный рогатый скот живой,01-Живые животные,АПК,Продукция сельского хозяйства
2,AB-АБХАЗИЯ,СНГ,Другие,0104108000,NaN,NaN,NaN,NaN,NaN,NaN,...,Прочие овцы живые,Овцы,Овцы и козы,Живые животные,0104108000-Прочие овцы живые,010410-Овцы,0104-Овцы и козы,01-Живые животные,АПК,Продукция сельского хозяйства
3,AB-АБХАЗИЯ,СНГ,Другие,0104209000,NaN,NaN,NaN,NaN,NaN,NaN,...,Прочие козы живые,Козы,Овцы и козы,Живые животные,0104209000-Прочие козы живые,010420-Козы,0104-Овцы и козы,01-Живые животные,АПК,Продукция сельского хозяйства
4,AB-АБХАЗИЯ,СНГ,Другие,0105111900,NaN,NaN,NaN,NaN,NaN,NaN,...,Прочие цыплята племенного разведения [прародит...,Куры до 185 г,"Домашняя птица живая, то есть куры домашние (g...",Живые животные,0105111900-Прочие цыплята племенного разведени...,010511-Куры до 185 г,"0105-Домашняя птица живая, то есть куры домашн...",01-Живые животные,АПК,Продукция сельского хозяйства

In [4]:
df[' Москва 2021 $'] = df[' Москва 2021 $'].apply(lambda x: str(x).replace('\xa0','').replace(',','.').replace('-','0'))
df[' Москва 2021 $'] = df[' Москва 2021 $'].astype(float)

In [5]:
df.fillna(0, inplace=True)
df['Страна'] = df['Страна'].apply(lambda x: str(x).replace('(','').replace(')',''))

In [6]:
unfriendly_countries_list = ['AU-АВСТРАЛИЯ', 'AL-АЛБАНИЯ','AD-АНДОРРА','BS-БАГАМЫ','GB-СОЕДИНЕННОЕ КОРОЛЕВСТВО','IS-ИСЛАНДИЯ','CA-КАНАДА','LI-ЛИХТЕНШТЕЙН','FM-МИКРОНЕЗИЯ','MC-МОНАКО','NZ-НОВАЯ ЗЕЛАНДИЯ','NO-НОРВЕГИЯ','KR-КОРЕЯ, РЕСПУБЛИКА','SM-САН-МАРИНО','MK-РЕСПУБЛИКА МАКЕДОНИЯ','SG-СИНГАПУР','US-СОЕДИНЕННЫЕ ШТАТЫ','TW-ТАЙВАНЬ (КИТАЙ)','UA-УКРАИНА','ME-ЧЕРНОГОРИЯ','CH-ШВЕЙЦАРИЯ','JP-ЯПОНИЯ','JE-ДЖЕРСИ','GG-ГЕРНСИ','IM-ОСТРОВ МЭН','AI-АНГИЛЬЯ','VG-ВИРГИНСКИЕ ОСТРОВА (БРИТАНСКИЕ)','GI-ГИБРАЛТАР','AT-АВСТРИЯ','BE-БЕЛЬГИЯ','BG-БОЛГАРИЯ','HU-ВЕНГРИЯ','DE-ГЕРМАНИЯ','GR-ГРЕЦИЯ','DK-ДАНИЯ','IE-ИРЛАНДИЯ','ES-ИСПАНИЯ','IT-ИТАЛИЯ','CY-КИПР','LV-ЛАТВИЯ','LT-ЛИТВА','LU-ЛЮКСЕМБУРГ','MT-МАЛЬТА','NL-НИДЕРЛАНДЫ','PL-ПОЛЬША','PT-ПОРТУГАЛИЯ','RO-РУМЫНИЯ','SK-СЛОВАКИЯ','SI-СЛОВЕНИЯ','FI-ФИНЛЯНДИЯ','FR-ФРАНЦИЯ','HR-ХОРВАТИЯ','CZ-ЧЕХИЯ','SE-ШВЕЦИЯ','EE-ЭСТОНИЯ','VI-ВИРГИНСКИЕ ОСТРОВА США']

In [7]:
df_for_work = df
df_for_work.drop(['Регион РЭЦ', 'Регионы (РЭЦ) и Союзы', 'ТН ВЭД 10', 'ТНВЭД 6',
       'ТНВЭД 4', 'ТНВЭД 2', 'Расшифровка ТН10', 'Расшифровка ТН6',
       'Расшифровка ТН4', 'Расшифровка ТН2', 'Товар и код ТН ВЭД (10 знаков)',
       'Товар и код ТН ВЭД (6 знаков)', 'Товар и код ТН ВЭД (4 знака)','Нацпроект 2021 v1', 'Отрасль 2021 v1','Товар (2 знака)'], inplace=True, axis=1)
df_for_work.shape

(291947, 8)

In [8]:
df_for_work.columns

Index(['Страна', ' Москва 2015 $', ' Москва 2016 $', ' Москва 2017 $',
       ' Москва 2018 $', ' Москва 2019 $', ' Москва 2020 $', ' Москва 2021 $'],
      dtype='object')

In [9]:
def get_import_status(country):
    if country in unfriendly_countries_list:
        return "недруг"
    else:
        return "друг"
    
df_for_work['Статус'] = df_for_work['Страна'].apply(get_import_status)

In [73]:
country_vol = df_for_work.groupby(by=['Страна'],as_index=False).sum()
country_vol['Объем за все периоды'] = country_vol[period_list].sum(axis=1)
country_vol = country_vol[['Страна','Объем за все периоды']].sort_values(by='Объем за все периоды',ascending=False)
country_vol.head(10) #топ-10 стран по объемам экспорта в них

                         Страна  Объем за все периоды
45                     CN-КИТАЙ          1.561831e+11
53                  DE-ГЕРМАНИЯ          1.151198e+11
162               NL-НИДЕРЛАНДЫ          1.010055e+11
106                   IT-ИТАЛИЯ          8.020817e+10
216                   TR-ТУРЦИЯ          6.936983e+10
34                  BY-БЕЛАРУСЬ          6.241855e+10
75   GB-СОЕДИНЕННОЕ КОРОЛЕВСТВО          5.558409e+10
176                   PL-ПОЛЬША          4.505969e+10
222        US-СОЕДИНЕННЫЕ ШТАТЫ          2.965639e+10
67                 FI-ФИНЛЯНДИЯ          2.783914e+10

In [21]:
df_status = df_for_work.drop(['Страна'],axis=1)

In [32]:
df_status_vol = df_status.groupby(by='Статус').sum()
df_status_vol # объемы по годам

,Москва 2015 $,Москва 2016 $,Москва 2017 $,Москва 2018 $,Москва 2019 $,Москва 2020 $,Москва 2021 $
Статус,,,,,,,
друг,5.009261e+10,4.667699e+10,5.898768e+10,7.520264e+10,7.289676e+10,5.395694e+10,7.979830e+10
недруг,1.028142e+11,7.715552e+10,9.563519e+10,1.269808e+11,1.162145e+11,8.607643e+10,1.326514e+11

In [29]:
period_list = [' Москва 2015 $', ' Москва 2016 $', ' Москва 2017 $',
       ' Москва 2018 $', ' Москва 2019 $', ' Москва 2020 $', ' Москва 2021 $']

In [30]:
drug_vol = df_status_vol[period_list].sum(axis=1)
drug_vol # суммарные объемы по друг/недруг странам

Статус
друг      4.376119e+11
недруг    7.375280e+11
dtype: float64